body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.drawer {
  background-color: blueviolet;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100px);
  transition: transform 0.1s ease-in-out;
}

.drawerOpen {
  transform: translateX(0);
}

img.gifView {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

div.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.loading > div {
  width: 20px;
  height: 20px;
  background-color: red;
  animation-name: rainbow;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rainbow {
  0% {
    background-color: red;
    transform: scaleX(2);
  }
  17% {
    background-color: orange;
  }
  33% {
    background-color: yellow;
  }
  50% {
    background-color: green;
    transform: scale(1, 1);
  }
  67% {
    background-color: blue;
  }
  83% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
    transform: scaleY(2);
  }
}

.attributions__giphy {
  background-image: url(./assets/giphy-attribution.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  /* TODO make it more responsive */
  width: 50px;
  height: 25px;
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
